/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em; /* Aumentando o tamanho do título */
    margin: 0;
}

header h2 {
    font-size: 1.5em; /* Subtítulo */
    font-weight: normal;
    margin: 5px 0 10px;
    color: #ddd;
}

nav {
    text-align: center;
    background-color: #444;
    padding: 10px;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    padding: 20px;
    line-height: 1.6;
}

h2 {
    color: #333;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
